<div class="motorcycle container">
  <%= form_with(model: motorcycle, local: true) do |form| %>
    <% if motorcycle.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(motorcycle.errors.count, "error") %> prohibited this motorcycle from being saved:</h2>

        <ul>
        <% motorcycle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :motorcycle_name %>
    </div>

    <div class="field">
      <%= form.label :price %>
      <%= form.number_field :price, id: :motorcycle_price %>
    </div>

    <!-- specs -->
    <div class="specs">
      <div class="items">
        <%= form.nested_fields_for :specifications do |f| %>
          <fieldset class="item">
            <%= f.label "especificaciónes" %>
            <%= f.text_area :name %>

            <%= f.label "valor" %>
            <%= f.text_field :price %>

            <a href="#" class="remove">remove</a>

            <%= f.hidden_field :id %>
            <%= f.hidden_field :_destroy %>
          </fieldset>
        <% end %>
      </div>
      <a href="#" class="btn btn-primary add-spec">Agregar especificación</a>
    </div>


    <div class="gallery">
      <!-- types -->
      <div class="items">
        <%= form.nested_fields_for :types do |t| %>
          <fieldset class="item">
            <%= t.label "Nombre Tipo" %>
            <%= t.text_area :name %>

            <%= t.label "valor tipo" %>
            <%= t.text_field :price %>

            <a href="#" class="remove">remove</a>

            <%= t.hidden_field :id %>
            <%= t.hidden_field :_destroy %>
          </fieldset>
          <% if t.object.gallery.nil? %>
            <%= t.fields_for :gallery, t.object.build_gallery do  |g| %>
              <div class="images-photo">
                <div class="items">
                  <%= g.nested_fields_for :images do |i| %>
                    <fieldset class="item">
                      <div class="modal-body">
                        <%= file_field_tag :photo %>
                      </div>
                    </fieldset>
                  <% end %>
                </div>
                <div class="text-center">
                  <a href="#" class="btn btn-primary image-spec">Agregar Imagen</a>
                </div>
              </div>
              
            <% end %>
          <% end %>
        <% end %>
      </div>
      <a href="#" class="btn btn-primary type-spec">Agregar tipo</a>
    </div>

    <br>
    <br>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
